body {
    background-color: mediumpurple;
}

header {
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    text-align: center;
}

#main-nav {
    background-color: indigo;
    text-align: left;
    color: white;
}

#main-nav li {
    padding: 10px 15px;
    display: inline-block;
    position: relative;
}

#main-nav li:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

#main-nav li a {
  color: inherit;
  text-decoration: none;
}